body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #fffae2;
}

#Berita {
  background-color: #fffae2;
}

section {
  padding-top: 5rem;
}

#Kontak {
  background-color: #fffae2;
}
